.navbar {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 25px;
    cursor: pointer;
}

.navbar h1 {
    font-weight: 800 !important;
    background: linear-gradient(to bottom, #ee2d7c, #ff652f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}